<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename = 'styles/mapView.css') }}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAk\
uyeQUytO7+7N4QKrDh+drA=="
      crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
        integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9\
O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin=""></script>
<script src="https://www.gstatic.com/firebasejs/5.5.8/firebase.js"></script>

</head>


<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAJa-17y_cqUGGq3bvYjCM2PLDwxI2a_i4",
    authDomain: "cmsc447-af201.firebaseapp.com",
    databaseURL: "https://cmsc447-af201.firebaseio.com",
    projectId: "cmsc447-af201",
    storageBucket: "cmsc447-af201.appspot.com",
    messagingSenderId: "39922165359"
  };
  firebase.initializeApp(config);

  var database = firebase.database();
  console.log(database)

//  var userId = firebase.auth().currentUser.uid;
  var x = firebase.database().ref('/Missions/').once('value').then(function(snapshot) {

  //return snapshot.val()
  console.log(snapshot.val())
  console.log("A")
  var htmlstr = ''
  for(i in snapshot.val()){
  console.log(i)
  console.log(snapshot.val()[i]["location"])
  //location, name, notes, team, urgency
  htmlstr = htmlstr + '<div class="missionDisplayItem"> <p>' + snapshot.val()[i]["name"] + '<form align="right" name="editLabel" method="post"><label class="topRightBtn"><input name="editmission" type="submit" value="Edit"></label></form></p><p>Location: ' + snapshot.val()[i]["location"]  + '</p></div>'
  }
  document.getElementById("holder").innerHTML = htmlstr
  });
</script>

<body onload="initializeMap()">

	<div class="header" id="pageHeader">
		<h3>Operations Chief Dashboard</h3>
		<!-- The Log out button -->
		<form align="right" name="logoutLabel" method="post">
		<label class="logout">
			<input name="logout" type="submit" id="logout" value="Log out">
		</label>
		</form>
	</div>
	<!-- The sidebar, contains the mission viewer and individual missions -->
	<div class="sidebar">
	
	<!-- This is where individual missions will be stored -->
	<div class="itemViewer" id="missionViewer">
		<div class="header">
			<h3>mission Viewer</h3>
		</div>
		<div class="displayItem" id="examplemission">
			<p>Example mission
				<form align="right" name="editLabel" method="post">
					<label class="topRightBtn">
						<input name="editmission" type="submit" id="editmission" value="Edit">
					</label>
				</form>
			</p>
			<p>Location: Example location</p>
		</div>
		<div id ="holder">

		</div>
	</div>
	<div class="missionCreator">
	<!-- Form for creation of missions -->
	<div class="header">
		<h3>Create New mission</h3>
	</div>
	<form method = "post">
		<label for="missionName">mission Name:<br></label>
		<!-- Contains mission name -->
		<input type="text" name="missionName" id="missionName"> <br>

		<input type = "text" value = "CNMOC" name = "TYPE" style="display:none;">



		<label for="location">Location:<br></label>
		<!-- Contains mission location -->
		<input type="text" placeholder="Location" name="location" id="location"> <br>
		<!-- Contains mission urgency -->
		<select name="urgency">
		  <option value="high">High</option>
		  <option value="medium">Medium</option>
		  <option value="low">Low</option>
		</select>
<br>
		<!-- Contains mission notes -->
		<label for="notes">Notes:</label>
		<input type="text" placeholder="Notes" name="notes" id="notes"> <br>
		
		<input type = "submit">
	</form>
	</div>
	</div>
	
	<!-- Container for the map view, in case we want to add more into the map view area -->
	<div id="mapView">
		
		<!-- The actual map, required the id "mapid" for the program to work.-->
		<div id="mapid"></div>
	</div>
	
	<script>
		function initializeMap() {
		
			//L is the name of the map to be used in our project
			var mymap = L.map('mapid').setView([39.2518, -76.7057], 15);
			L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
			attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
			}).addTo(mymap);
		}
	</script>
</body>
</html>


<!--
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename = 'styles/mapView.css') }}">
<body>
	<div class="sidebar">
	<div class="missionViewer">
		<h3>Mission Viewer</h3>
		<div class="missionItem">
			<p>Test Mission Name</p>
		</div>
	</div>
	<div class="MissionCreator">
		<h3>Create New Mission</h3>
		<label for="MissionName">Mission Name:<br></label>
		<input type="text" name="MissionName" id="MissionName"> <br>
		<p id="frLabel" class="drodDownLabel">First Responders:</p>
		<select name="firstResponders" id="frDropdown">
				<option value="frTest">Test Responder</option>
		</select><br>
		<p id="missionLabel" class="drodDownLabel">missions:</p>
		<select name="missions" id="missionDropdown">
				<option value="missionTest">Test mission</option>
		</select><br>
		<input type = "submit">
	</div>
<body>
</html>
-->
