<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename = 'styles/mapView.css') }}">
<body>
	<!-- The sidebar, contains the event viewer and individual events -->
	<div class="sidebar">
	<div class="eventViewer">
		<h3>Event Viewer</h3>
		<a href="#" class="eventDisplayItem">Event 1</a><br>
		<a href="#" class="eventDisplayItem">Event 2</a><br>
		<a href="#" class="eventDisplayItem">Event 3</a>
	</div>
	<div class="eventCreator">
	  <form method = "post">
		<h3>Create New Event</h3>
		<label for="EventName">Event Name:<br></label>
		<input type="text" name="EventName" id="eventName"> <br>
		<input type = "text" value = "CNEO" name = "TYPE">
		<label for="location">Location:<br></label>
		<input type="text" placeholder="Location" name="location" id="location"> <br>
		<select name="urgency">
		  <option value="high">High</option>
		  <option value="medium">Medium</option>
		  <option value="low">Low</option>
		</select>
<br>
		<label for="location">Notes:</label>
		<input type="text" placeholder="Notes" name="notes" id="notes"> <br>
		
		<input type = "submit">
	  </form>
	</div>
<body>
</html>
