<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename = 'styles/mapView.css') }}">


<body>
	<div class="header" id="pageHeader">
		<h3>Operator Dashboard</h3>
		<!-- The Log out button -->
		<form align="right" name="logoutLabel" method="post">
		<label class="logout">
			<input name="logout" type="submit" id="logout" value="Log out">
		</label>
		</form>
	</div>
	<!-- The sidebar, contains the event viewer and individual events -->
	<div class="sidebar">
	
	<!-- This is where individual events will be stored -->
	<div class="eventViewer" id="eventViewer">
		<div class="header">
			<h3>Event Viewer</h3>
		</div>
		<div class="eventDisplayItem" id="exampleEvent">
			<p>Example Event
				<form align="right" name="editLabel" method="post">
					<label class="topRightBtn">
						<input name="editEvent" type="submit" id="editEvent" value="Edit">
					</label>
				</form>
			</p>
			<p>Location: Example location</p>
		</div>
	</div>
	<div class="eventCreator">
	<!-- Form for creation of events -->
	<div class="header">
		<h3>Create New Event</h3>
	</div>
	<form method = "post">
		<label for="EventName">Event Name:<br></label>
		<!-- Contains event name -->
		<input type="text" name="EventName" id="eventName"> <br>

		<input type = "text" value = "CNEO" name = "TYPE" style="display:none;">



		<label for="location">Location:<br></label>
		<!-- Contains event location -->
		<input type="text" placeholder="Location" name="location" id="location"> <br>
		<!-- Contains event urgency -->
		<select name="urgency">
		  <option value="high">High</option>
		  <option value="medium">Medium</option>
		  <option value="low">Low</option>
		</select>
<br>
		<!-- Contains event notes -->
		<label for="notes">Notes:</label>
		<input type="text" placeholder="Notes" name="notes" id="notes"> <br>
		
		<input type = "submit">
	</form>
	</div>
<body>
</html>
