h3{
	font-family:"Arial";
}

.header {
    position:relative;
	height:50px;
    background:#FFCC00;
    border:2px solid #FFBB00;
    margin:0px;
	text-align:center;
}

#pageHeader{
    width:100%;
}

.sidebar{
	width:25%;
	height:100%;
	position:absolute;
	background:#EEEEEE;
	border:1px solid black;
	padding:0px;
}

.itemViewer{
	position:sticky;
	height:50%;
	margin:0px;
	overflow:scroll;
}

.displayItem{
	margin:0px;
	border:1px solid black;
	font-family:Arial;
	padding-left:10px;
}

.dropdownLabel{
	margin:0;
	padding:0;
}


.logout{
	position:absolute;
	right:10px;
	top: 50%;
	transform: translateY(-50%);
}

.topRightBtn{
	position:absolute;
	right:10px;
	/*
	top: 50%;
	transform: translateY(-50%);	
	*/
}

label{
	font-family:"Arial";
}

#mapView{
	margin-left: 26%;
}

#mapid {
	height: 550px;
	}