#WelcomeBanner{
	text-align:center;
}
#ExteriorBox{
	width:auto;
	margin:auto;
	display:inline-block;
	margin-left:35%;
}
#SignUpBox{
	box-sizing:border-box;
    padding:10px;
	width:auto;
	border:3px solid black;
    border-radius:10px;
	margin:auto;
	display:inline-block;
}
#SignInBox{
	box-sizing:border-box;
    padding:10px;
	width:auto;
	border:3px solid black;
    border-radius:10px;
	display:inline-block;
	vertical-align:top;
}

p{
	font-family: "Arial";
}

label{
	font-family: "Arial";
}

h2{
	font-family: "Arial";
}

h3{
	font-family: "Arial";
	text-align:center;
}

#deptLabel{
	margin:0;
	padding:0;
}

deptSelect{
	margin:0;
	display:inline-block;
}